.orgChartCell {
    width: 10vw;
    padding: 10px 25px;
    text-align: center;
    box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.1), 0 0 20px 10px rgba(0, 0, 0, 0.035);
    border-radius: 4px;
    color: white;
    white-space:nowrap;
    margin: 'auto';
    border: 5px solid grey;
}

.orgChartTitle {
    white-space: normal;
}

.orgchart.my-custom-chart {
    background-image: none;
}

.orgchart.my-custom-chart > ul > li > ul li::before {
    border-top-color: grey;
}
.orgchart.my-custom-chart > ul > li > ul li .oc-node::before,
.orgchart.my-custom-chart ul li .oc-node:not(:only-child)::after {
    background-color: grey;
}

.my-test {
    background-color: red;
}